*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    background: linear-gradient(to right, #2948ff, #396afc) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
/*===============Header================*/
.header{
    margin: 1.25rem;
}
.header_title{
    font-size: 2.5rem;
    color: #ffff;
    text-shadow: 0px 0px 5px #000;
}
/*===============Container Form================*/
.container_form{
    display: flex;
    justify-content: space-around;
    width: 19.375rem;
}
/*===============Tasks================*/
.tasks{
    display: flex;
}
.tasks_input{
    width: 10.625rem;
}
.tasks_input, .button{
    background: #ffff;
    border: none;
    padding: 0.3rem;
    font-size: 1rem;
}
.tasks_input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*===============Select================*/
.select{
    display: flex;
    justify-content: center;
}
.filter{
    border-radius: 5px;
    outline: none;
    border: none;
    color: #060827;
    cursor: pointer;
}
.button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#060827;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #060827;
    color: #ffff;
}
/*===============List items================*/
.container_list{
    display: flex;
    justify-content: center;
    align-content: center;
}
.list{
    min-height: 30%;
    list-style: none;
}
.toDo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    background-color: #ffff;
    color: #000;
    font-size: 1.1rem;
    width: 300px;
    text-indent: 0.5rem;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.toDo_li{
    flex: 1;
}
.completed_btn, .edit_btn, .trash_btn{
    background: #060827;
    color: #fff;
    border: none;
    padding: .5rem;
    cursor: pointer;
}
.completed_btn:hover, .edit_btn:hover, .trash_btn:hover{
    opacity: 70%;
}
.completed_btn{
    background-color: rgb(54, 168, 31);
}
.trash_btn{
    background-color: rgb(179, 35, 35);
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform-origin: left;
    transform: rotate(20deg);
    opacity: 0;
}
.fa-trash, .fa-check, .fa-edit{
    pointer-events: none;
}